.form{
    display: flex;
    max-width: 100%;
}

.texto4{
    margin: 0 0 0 3em;

    h3{
        color: #011330;
    }
    h6{
        color: #011330;
    }
}

.form-label{
    h6{
        color: #011330;
    }

}

