#texto2{
    max-width: 100%;
    display: flex;
    margin: 0;
    img{
        display: flex;
        max-width: 60%;
        width: 70em;
    }
        h2{
            text-align: center;
            color: #011330;
            }
        h3{
            color: #011330;
            }
}
    
.quienes_somos{
    h1{
        text-align: center;
        color: #011330;
        margin-top: 1em;
    }

}
    
.historia{
    margin: 1em;
    line-height: 1.5em;
    }

