//variables

//color
$color-main:#011330;
$h:#011330;

//bordes
$border:solid 2px #011330;

//condicionales
$color: primary;

//listas
$list-colores: #011330;
$list-h: h1,h2,h3,h4,h5,h6;

//mapas

$redes: (
    whatsapp: #ffffff, 
    facebook: #ffffff,
    instagram: #ffffff,
);

